<div class="py-8 px-4">
  <h1 mat-dialog-title>Update Taxiway</h1>
  <div mat-dialog-content>
    <form [formGroup]="taxiwayFormGroup" class="mt-4 flex flex-col gap-4">
      <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div>
          <mat-form-field class="w-full">
            <mat-label>Taxiway Number</mat-label>
            <input
              matInput
              placeholder="18"
              formControlName="number"
              required
            />
            <mat-error
              *ngIf="taxiwayFormGroup.get('number')?.hasError('required')"
            >
            Taxiway Number is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <mat-label>Width (m)</mat-label>
            <input
              matInput
              type="number"
              placeholder="250"
              formControlName="width"
              required
            />
            <mat-error
              *ngIf="taxiwayFormGroup.get('width')?.hasError('required')"
            >
              Width is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <mat-label>Length (m)</mat-label>
            <input
              matInput
              type="number"
              placeholder="1500"
              formControlName="length"
              required
            />
            <mat-error
              *ngIf="taxiwayFormGroup.get('length')?.hasError('required')"
            >
              Length is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <mat-label>In Service</mat-label>
            <mat-select formControlName="inService" required>
              <mat-option
                *ngFor="let val of booleanValues"
                [value]="val.value"
                >{{ val.name }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="taxiwayFormGroup.get('inService')?.hasError('required')"
            >
              In Service status is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <mat-label>Surface Type</mat-label>
            <mat-select formControlName="surfaceType" required>
              <mat-option
                *ngFor="let surfaceType of surfaceTypes"
                [value]="surfaceType"
                >{{ surfaceType }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="taxiwayFormGroup.get('surfaceType')?.hasError('required')"
            >
              Surface Type is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="updatTaxiwayInfo()"
          type="submit"
          *ngIf="!isLoading"
        >
          Update
        </button>
        <button mat-raised-button color="primary" *ngIf="isLoading" disabled>
          Loading...
        </button>
        <button mat-raised-button mat-dialog-close>Close</button>
      </div>
    </form>
  </div>
</div>
