<div class="font-bold text-base text-black/70 underline">User Login</div>
<form
  [formGroup]="loginFormGroup"
  (submit)="login()"
  class="mt-5 w-full flex flex-col gap-3"
>
  <mat-form-field class="Email" class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="example@gmail.com"
      formControlName="email"
      required
      class="w-full"
    />
    <mat-error *ngIf="loginFormGroup.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="loginFormGroup.get('email')?.hasError('email')">
      Enter a valid email address.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="Password" class="w-full">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="********"
      type="password"
      required
      formControlName="password"
      class="w-full"
    />
    <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">
      Password is required.
    </mat-error>
  </mat-form-field>
  <div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between">
    <button mat-raised-button color="primary" class="w-full lg:w-96" *ngIf="isLoading">
      Loading...
    </button>
    <button mat-raised-button color="primary" class="w-full lg:w-96" *ngIf="!isLoading">
      Login
    </button>
    <a class="text-blue-500 underline" [routerLink]="['/auth/reset-password']">
      Forgot Password
    </a>
  </div>
</form>
