<div class="font-bold text-base text-black/70 underline">Change Password</div>
<form
  [formGroup]="changePasswordFormGroup"
  (submit)="sendResetEmail()"
  class="mt-5 w-full flex flex-col gap-8"
>
  <mat-form-field class="password w-full">
    <mat-label>New Password</mat-label>
    <input
      matInput
      formControlName="newPassword"
      type="password"
      class="w-full"
    />

    <mat-error
      *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('required')"
    >
      Password is required.
    </mat-error>

    <mat-error
      *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('minlength')"
    >
      Password must be at least 8 characters long.
    </mat-error>

    <mat-error
      *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('maxlength')"
    >
      Password cannot exceed 20 characters.
    </mat-error>

    <mat-error
      *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('pattern')"
    >
      Password must contain at least one letter, one number, and one special
      character.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="confirm_password" class="w-full">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      formControlName="confirm_password"
      type="password"
      class="w-full"
    />
    <mat-error *ngIf="changePasswordFormGroup.get('confirm_password')?.hasError('required')">
      Confirm password is required.
    </mat-error>
    <mat-error *ngIf="changePasswordFormGroup.get('confirm_password')?.hasError('passwordMismatch')">
      Passwords do not match.
    </mat-error>
  </mat-form-field>

  <div class="flex items-center justify-between">
    <button mat-raised-button color="primary" class="w-96" *ngIf="isLoading">
      Loading...
    </button>
    <button mat-raised-button color="primary" class="w-96" *ngIf="!isLoading">
      Change Password
    </button>
  </div>
</form>
