<div class="w-full flex flex-col gap-4">
  <h1 class="font-extrabold">Maintenance Organizations</h1>

  <div class="w-full flex flex-col md:flex-row justify-between md:items-center">
    <div class="w-full md:w-72">
      <app-search (search)="onSearch($event)"></app-search>
    </div>
    <div class="flex justify-end md:items-center gap-4">
      <button
        mat-raised-button
        color="primary"
        class="lg:w-80"
        (click)="addMaintenanceOrganizations()"
        *ngIf="!appService.isInspector()"
      >
        <mat-icon>add</mat-icon>
        Add Maintenance Organizations
      </button>
      <!-- <button
        mat-raised-button
        color="primary"
        class="lg:w-48"
        *ngIf="!appService.isInspector()"
        (click)="downloadReport()"
      >
        <mat-icon>download</mat-icon>
        Download Report
      </button> -->
    </div>
  </div>

  <div class="flex flex-col gap-3 w-full" *ngIf="!isLoading">
    <div class="flex justify-between items-center">
      <div>
        <span class="font-medium">Total: </span
        >{{ allMaintenanceOrganization }} Maintenance Organizations(s)
      </div>
      <!-- <form
        [formGroup]="filterFormGroup"
        (ngSubmit)="filterStatus()"
        class="mt-4"
      >
        <mat-form-field class="w-full">
          <mat-label>Filter by status:</mat-label>
          <mat-select
            formControlName="status"
            required
            (selectionChange)="filterStatus()"
          >
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{ status.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="filterFormGroup.get('status')?.hasError('required')"
          >
            *This field is required
          </mat-error>
        </mat-form-field>
      </form> -->
    </div>

    <app-maintenance-organizations-table
      *ngIf="
        maintenanceOrganizations.length > 0;
        else noMaintenanceOrganizations
      "
      [maintenanceOrganizations]="maintenanceOrganizations"
      (maintenanceOrganizationsUpdated)="
        fetchMaintenanceOrganizationList(queryParams)
      "
    ></app-maintenance-organizations-table>
    <ng-template #noMaintenanceOrganizations>
      <div class="mt-8 text-center text-lg font-bold">
        No maintenance organizations available
      </div>
    </ng-template>
  </div>

  <div *ngIf="isLoading">
    <!-- Loading Skeleton Placeholder -->
    <table class="skeleton-table">
      <thead>
        <tr class="text-center">
          <th class="py-3 px-3 skeleton skeleton-text"></th>
          <th class="py-3 px-3 skeleton skeleton-text"></th>
          <th class="py-3 px-3 skeleton skeleton-text"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of [1, 2, 3, 4, 5]" class="text-center">
          <td class="skeleton skeleton-row"></td>
          <td class="skeleton skeleton-row"></td>
          <td class="skeleton skeleton-row"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <mat-paginator
    [length]="allMaintenanceOrganization"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
