<div class="w-full flex flex-col gap-8">
  <div class="text-2xl font-medium">maintenanceOrganization Information</div>

  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <a href="/#/maintenanceOrganizations" class="text-blue-500 underline"
        >maintenanceOrganization</a
      >
      >
      <div>Details</div>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="maintenanceOrganization Details">
      <div class="mt-4 shadow-lg bg-white p-8">
        <div
          class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between"
        >
          <div class="font-medium text-base">Basic Information</div>
        </div>
        <div class="border mt-4"></div>
        <div class="grid md:grid-cols-2 gap-8">
          <div>
            <div class="mt-4 flex gap-3">
              <div class="text-base font-medium">Created On:</div>
              <div class="text-sm">
                {{ maintenanceOrganization?.createdAt | date }}
              </div>
            </div>
            <div class="flex gap-3 mt-4">
              <div class="text-base font-medium">Name:</div>
              <div class="text-sm">
                {{ maintenanceOrganization?.name | titlecase }}
              </div>
            </div>
            <div class="mt-4 flex gap-3">
              <div class="text-base font-medium">Location :</div>
              <div class="text-sm">{{ maintenanceOrganization?.location }}</div>
            </div>
          </div>
          <div>
            <div class="mt-4 flex gap-3">
              <div class="text-base font-medium">Aircraft Types:</div>
              <div class="text-sm">
                {{ maintenanceOrganization?.aircraftTypes }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Inspections">
      <app-inspections
        [entity]="entity"
        [entityId]="selectedmaintenanceOrganizationId"
      ></app-inspections>
    </mat-tab>

    <mat-tab label="Issues">
      <app-issues
        [entity]="entity"
        [entityId]="selectedmaintenanceOrganizationId"
      ></app-issues>
    </mat-tab>
  </mat-tab-group>
</div>
