<div class="py-8 px-4">
  <h1 mat-dialog-title>Delete User</h1>

  <div mat-dialog-content>
    <p>Are you sure you want to delete this user?</p>
    
    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteUserInfo()"
        type="submit"
        *ngIf="!isLoading"
      >
        Delete
      </button>
      <button mat-raised-button color="warn" *ngIf="isLoading" disabled>
        Loading...
      </button>
      <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
  </div>
</div>
