<div class="py-8 px-4">
  <h1 mat-dialog-title>Schedule Inspection</h1>

  <div mat-dialog-content>
    <form
      [formGroup]="scheduleInspectionFormGroup"
      (submit)="scheduleInspection()"
    >
      <div class="w-full grid gap-4">
        <mat-form-field class="w-full">
          <mat-label>Inspection Officer</mat-label>
          <mat-select formControlName="inspector" required>
            <mat-option
              *ngFor="let inspector of inspectors"
              [value]="inspector._id"
              >{{ inspector.firstName }} {{ inspector.lastName }} -
              {{ inspector.email }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              scheduleInspectionFormGroup.get('inspector')?.hasError('required')
            "
          >
            Assigned inspection officer is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Inspection Type</mat-label>
          <mat-select formControlName="inspectionType" required>
            <mat-option
              *ngFor="let inspectionType of inspectionTypes"
              [value]="inspectionType"
            >
              {{ inspectionType }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              scheduleInspectionFormGroup
                .get('inspectionType')
                ?.hasError('required')
            "
          >
            Inspection Type is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="
            scheduleInspectionFormGroup.get('inspectionType')?.value ===
            'ANS Station'
          "
        >
          <mat-label>ANS Station</mat-label>
          <mat-select formControlName="ansStation">
            <mat-option *ngFor="let ans of ansStations" [value]="ans._id">{{
              ans.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="
            scheduleInspectionFormGroup.get('inspectionType')?.value ===
            'Airport'
          "
        >
          <mat-label>Airport</mat-label>
          <mat-select formControlName="airport">
            <mat-option
              *ngFor="let airport of airports"
              [value]="airport._id"
              >{{ airport.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="
            scheduleInspectionFormGroup.get('inspectionType')?.value ===
            'Airline'
          "
        >
          <mat-label>Airline</mat-label>
          <mat-select formControlName="airline">
            <mat-option
              *ngFor="let airline of airlines"
              [value]="airline._id"
              >{{ airline.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="
            scheduleInspectionFormGroup.get('inspectionType')?.value ===
            'Maintenance Organization'
          "
        >
          <mat-label>Maintenance Organization</mat-label>
          <mat-select formControlName="maintenanceOrg">
            <mat-option *ngFor="let org of maintenanceOrgs" [value]="org._id">{{
              org.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Other fields like inspector and deadline here -->

        <mat-form-field>
          <mat-label>Inspection Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="_deadline"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <!-- Custom error for invalid deadline -->
          <mat-error
            *ngIf="
              scheduleInspectionFormGroup
                .get('_deadline')
                ?.hasError('invalidDeadline')
            "
          >
            {{ scheduleInspectionFormGroup.get('_deadline')?.errors?.['invalidDeadline'] }}
          </mat-error>

          <!-- Required error for deadline -->
          <mat-error
            *ngIf="
              scheduleInspectionFormGroup.get('_deadline')?.hasError('required')
            "
          >
            Inspection date is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *ngIf="!isLoading"
        >
          Submit
        </button>
        <button mat-raised-button color="primary" *ngIf="isLoading" disabled>
          Loading...
        </button>
        <button mat-raised-button mat-dialog-close>Close</button>
      </div>
    </form>
  </div>
</div>
